body {
    min-height: 100vh;
    background-image: linear-gradient(rgb(30 30 30) 80%, rgb(44 44 103));
}

.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    display: grid;
    justify-content: center;
}

.profile_header img {
    margin-top: 50px;
    margin-bottom: 25px;
}

.profile_header h1, .profile_header h2 {
    text-align: center;
    margin: 0 auto;
    font-family: "JetBrains Mono", monospace;
}

h2 {
    font-weight: 400;
    margin-bottom: 25px;
}

img {
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.profile_about div {
    display: block;
    margin: 10px;
}

div.profile_about {
    display: grid;
    color: rgb(0, 0, 0);
    font-family: "JetBrains Mono", monospace;

}

.links li {
    list-style: none;
}
ul {
    padding: 0;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 26px;
    text-decoration: none;
    height: 50px;
    border: solid #fff;
    border-radius: 11px;
    color: #fff;
    font-size: 18px;
}

.links a:hover {
    border: solid #fff;
    color: #fff;
    background-color: #414141;
    transition: .5s;
}

/*@media screen and (max-width: 720px) {
    .profile_about {
        font-size: 20px;
    }
} */
